@gray: #d9d9d9;
@articleBackground: white;
@buttonText: white;
@safeGreen: #01A75F;
@navbarBG: #085F39;
@navbarText: white;
@input: lighten(@gray, 10%);

@darkBG: darken(@gray, 60%);
@dangerRed: #ff6860;
@lightBG: lighten(@gray, 20%);

@navbarHeight: 96px;
@navbarBorder: 1px;
@thumbnailSize: 150px;
@marginNormal: 20px;
@imageSelectorSize: 200px;
@controlsWidth: 400px;

.withShadow {
  box-shadow: -5px 5px 28px -5px rgba(0,0,0,0.82);
}


.dropdownTransform {
  transform: translateY(-240px);
}
.dropdownTransition {
  transition: transform 1s;
}

body,
input,
textarea,
button,
select {
  font-family: "futura-pt", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

label>input{
  &[type="checkbox"], &[type="radio"] {
    vertical-align: middle;
    margin-right: 0.5em;
  }
}

body {
  margin: 0;
  background-color: @darkBG;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1, h2, h3 {
  text-align: center;
}

i {
  color: @dangerRed;
}

button {
  color: @buttonText;
  background-color: @safeGreen;
  border-style: none;
  box-sizing: border-box;
  padding: 0.5em;
  letter-spacing: 2px;
  &:hover {
    background-color: lighten(@safeGreen, 5%);
  }
  &[disabled] {
    background-color: desaturate(lighten(@safeGreen, 40%), 60%);
  }

  &.danger {
    background-color: @dangerRed;
    &:hover {
      background-color: lighten(@dangerRed, 5%);
    }
    &[disabled] {
      background-color: desaturate(lighten(@dangerRed, 20%), 30%);
    }
  }
  i {
    color: @buttonText;
  }
}

input,
textarea,
select {
  background-color: @input;
  transition: background-color 0.2s;
  border: none;
  box-sizing: border-box;
  &:focus {
    background-color: darken(@input, 10%);
    transition: background-color 0.5s;
  }
}

fieldset {
  position: relative;
  border: none;
  width: 150px;
  padding: 0.5em;
  box-sizing: border-box;
  margin: 0;
  margin-top: 10px;
  label:first-of-type {
    margin-top: 1.5em;
  }
}

legend {
  top: 0.5em;
  position: absolute;
  font-weight: bold;
}

.filter.privacySettings {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }
}

i.fa {
  margin-right: 0.5em;
}

span+i.fa {
  margin-right: 0;
}

.img .thumb {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}





body>article {
  background-color: @articleBackground;
  h1 {
    color: darken(@gray, 40%);
    line-height: 3em;
    margin: 0;
  }
  &>.controls {
    background-color: lighten(@gray, 10%);
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.mainContent {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: @gray;
  padding-top: @marginNormal;
  padding-bottom: @marginNormal;
}

.imageSelectorContainer {
  button {
    width: 100%;
    line-height: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    font-size: 1em;
    &:first-child {
      margin-top: 0;
    }
  }
  .controls {
    text-align: center;
  }
  .controls input {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    height: 3em;
    font-size: 16px;
    text-align: center;
    border: none;
  }
  &>.controls {
    padding: 10px;
    background-color: @lightBG;
    width: @controlsWidth;
    max-width: @controlsWidth;
    margin: @marginNormal;
  }
}



.imageSelector {
  .withShadow;

  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: @marginNormal;
  transition: transform 5s;
  & input[type="file"] {
    display: none;
  }
  & .controls {
    margin-top: @marginNormal / 2;
    box-sizing: border-box;
  }
  & .img {
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &>div {
    padding: 10px;
    background-color: @lightBG;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.img img {
  width: 100%;
}
.img a {
  display: block;
}

.thumbnails {
  display: flex;
  justify-content: center;
  & .img {
    width: @thumbnailSize;
    height: @thumbnailSize;
  }
}

.imageDescription {
  input {
    width: 100%;
    line-height: 3em;
    font-size: 16px;
    text-align: center;
    border: none;
  }
}

footer {
  bottom: 0;
  height: 140px;
  background-color: @darkBG;
  width: 100%;
  color: white;
  text-align: center;
}








/*question*/

.privacySettings {
  width: @controlsWidth;
  max-width: @controlsWidth;
  margin-left: auto;
  margin-right: auto;
  background-color: @lightBG;
  margin-top: 1em;
  &:last-of-type {
    margin-bottom: 1em;
  }
  .content {
    padding: @marginNormal;
    padding-top: 5px;
  }
  form {
    padding: 0;
    width: 100%;
  }
  label {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1em;
  }
  button {
    width: 100%;
    font-size: 1em;
    &:not(:last-of-type) {
      margin-bottom: 0.5em;
    }
  }
  h2 {
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    background-color: darken(@lightBG, 25%);
    color: white;
    line-height: 2em;
    margin-bottom: 0;
  }
  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    span:first-child {
      width: 20%;
      text-align: center;
    }
    span:last-child {
      width: 80%;
    }
  }
}



/*myQuestions*/

.myQuestions {
  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 0;
    margin: 0;
    margin-bottom: @marginNormal;
    width: 100%;
  }
  & li {
    max-width: 400px;
    margin-top: @marginNormal;
    margin-left: 10px;
    margin-right: 10px;
    background-color: @lightBG;
    .withShadow;
    &.empty {
      padding: 0.5em;
      p {
        margin-top: inherit;
      }
    }

    a {
      color: darken(@gray, 40%);
      text-decoration: none;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 0.5em;
      padding-right: 0.5em;
      &:hover {
        color: darken(@gray, 30%);
      }
    }

    .thumbnails {
      margin-bottom: @marginNormal;
      margin-left: @marginNormal;
      margin-right: @marginNormal;
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0.2em;
      text-align: center;
      color: darken(@gray, 20%);
      font-size: 0.8em;
    }
  }
}





.noneSelected>.controls {
  transform: scaleX(0) scaleY(0);
  display: none;
}

.oneSelected>.controls {
  transform: scaleX(0) scaleY(0);
}

.noneSelected .imageSelector:nth-of-type(2) {
  transform: translateX(-50%) translateX(-@marginNormal);
}




@media (max-width: 419px) {
  .oneSelected .imageSelector:nth-of-type(1) {
    z-index: 1;
  }
  .noneSelected .imageSelector:nth-of-type(1) {
    z-index: 1;
  }
  .noneSelected .imageSelector:nth-of-type(2) {
    transform: translateY(-100%) translateY(-@marginNormal);
  }
}

@media (max-width: 894px) {
  .imageSelectorContainer > .controls {
    width: 80%;
    box-sizing: border-box;
  }
  .imageSelector .controls {
    margin-top: 10px;
  }
  .imageSelector {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    &.imageNotSelected .img {
      height: @imageSelectorSize;
    }
  }
  .privacySettings {
    width: 80%;
  }
  .oneSelected .imageSelector:nth-of-type(1) {
    z-index: 1;
  }
  .noneSelected .imageSelector:nth-of-type(1) {
    z-index: 1;
  }
  .noneSelected .imageSelector:nth-of-type(2) {
    transform: translateY(-100%) translateY(-2 * @marginNormal);
  }
}

@media (min-width: 895px) {
  .filter.privacySettings {
    width: 700px;
    max-width: 700px;
  }
  .menuButton {
    display: none;
  }
  .imageSelector {
    width: 40%;
  }
  .noneSelected .imageSelector:nth-of-type(1) {
    transform: translateX(50%) translateX(@marginNormal);
    z-index: 1;
  }
  .oneSelected .imageSelector:nth-of-type(1) {
    z-index: 1;
  }
  .oneSelected .imageSelector:nth-of-type(2) {
  }
}

@media (min-width: 1295px) {

  .imageSelector {
    width: 30%;
  }
  .imageSelectorContainer>.imageSelector:first-of-type {
    order: 0;
  }
  .imageSelectorContainer>.controls {
    order: 1;
    margin-top: @marginNormal;
    margin-bottom: @marginNormal;
    margin-left: 0;
    margin-right: 0;
  }
  .imageSelectorContainer>.imageSelector:nth-of-type(2) {
    order: 2;
  }
  .oneSelected .imageSelector:nth-of-type(1) {
    transform: translateX((@controlsWidth + @marginNormal) / 2);
    z-index: 1;
  }
  .oneSelected .imageSelector:nth-of-type(2) {
    transform: translateX(-(@controlsWidth + @marginNormal) / 2);
  }
}









/*nav*/

body>nav {
  visibility: hidden;
}

body>nav {
  a {
    color: @navbarText;
    font-size: 2em;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 2px;
    &:hover {
      color: darken(@navbarText, 15%);
    }
  }

  ul, .loginForm {
    visibility: visible;
    .dropdownTransition;
    .withShadow;
    height: auto;
    width: auto;
    background-color: @darkBG;
    position: relative;
    top: 0;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
  }
  ul {
    transform: translateX(-120%);
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    a {
      color: lighten(@gray, 5%);
      &:hover {
        color: lighten(@gray, 30%);
      }
    }
  }
  .loginForm {
    transform: translateX(120%);
    width: 350px;
    p {
      margin-top: ~"calc(1em - 10px)";
      color: lighten(@gray, 5%);
    }

    button {
      width: 100%;
    }
  }
}

.menuShown ul {
  transform: translateX(0%);
}
.loginShown .loginForm {
  transform: translateX(0%);
}
.navbarButton {
  @position: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  visibility: visible;
  top: 0;
  height: @navbarHeight;
  &.menuButton {
    left: @position;
  }
  &.loginButton {
    right: @position;
  }
  i.fa {
    margin-right: 0;
  }
}

.overflowHack {
  overflow-x: hidden;
  position: absolute;
  padding-bottom: 10px;
  width: 100%;
  top: @navbarHeight;
  display: flex;
  &:last-of-type {
    justify-content: flex-end;
  }
}
