<template name="home">
  <div>
    <h1>Guide</h1>
  </div>
  <section class="slideContainer">
    <div class="slider" style="min-width: {{minWidth}}">
      <article class="slide" style="width: {{slideWidth}}">
        <div class="box">
          <h1 id="slide1">Hipsift</h1>
          <img src="logo.svg" class="logo"/>
          <p>Decisions made easy</p>
        </div>
      </article>
      <article class="slide" style="width: {{slideWidth}}">
        <h1 id="slide2">Slide2</h1>
      </article>
      <article class="slide" style="width: {{slideWidth}}">
        <h1 id="slide3">Slide3</h1>
      </article>
      <article class="slide" style="width: {{slideWidth}}">
        <h1 id="slide4">Slide4</h1>
        <a href="">Post your question</a>
        <a href="">Answer other's questions</a>
      </article>
    </div>
    <section class="slideIndicator" style="left: {{leftShift}}">
      <nav>
        {{#each slideIndicatorIcons}}
          {{> slideIndicatorIcon}}
        {{/each}}
      </nav>
    </section>
  </section>
</template>

<template name="slideIndicatorIcon">
  <a href="#{{href}}">
    <i class="fa {{iconClass}}"></i>
  </a>
</template>
