.slideContainer {
  height: 70vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.slide {
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
}
.slider {
  display: flex;
  height: 100%;
}

.slide:nth-child(1) {
  background-color: #03B0EA;
}

.slide:nth-child(2) {
  background-color: red;
}

.slide:nth-child(3) {
  background-color: green;
}

.slide:nth-child(4) {
  background-color: yellow;
}

.slideIndicator {
  position: relative;
  width: 100%;
  height: 10%;
  text-align: center;
  flex: none;
  align-self: flex-end;
  a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    .fa {
      margin: 12px;
    }
  }
}

.box {
  text-align: center;
  color: white;
  h1 {
    color: white;
  }
}

.active .box {

}

.logo {
  width: 80px;
}
