.progress {
  width: 100%;
  ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
    counter-reset: li;

    &>li {
      list-style: none;
      flex-grow: 1;
      &:before {
        content: counter(li) ".";
        counter-increment: li;
        margin-right: 0.5em;
      }
      &:after {
        content: " ";
        width: 100%;
        height: 4px;
        bottom: -10px;
        display: block;
        background-color: lighten(blue, 40%);
        transform: translateX(-0.5em);
      }
      &.done:after {
        background-color: lighten(blue, 30%);
      }
      &.active:after {
        background-color: blue;
      }
      &:last-of-type:after {
        width: ~"calc(100% + 1em)";
      }
    }
  }


}
