<template name="progress">
  <section class="progress">
    <ol>
      <li class="{{headerClass 1}}">First img</li>
      <li class="{{headerClass 2}}">Second img</li>
      <li class="{{headerClass 3}}">Name</li>
    </ol>
    <div class="bar">
    </div>
  </section>
</template>
