<template name="imageSelector">
  <div class="imageSelector {{stateClass}}">
    <div>
      <input type="file" accept="image/*" />
      <div class="img">
        {{#unless image}}
          <p><i class="fa fa-picture-o"></i>Click here to chose a photo</p>
        {{else}}
          <a href="{{src}}" target="_blank">
            <img src="{{src}}"/>
          </a>
        {{/unless}}
      </div>
      {{#if image}}
        <div class="controls">
          <button><i class="fa fa-reply"></i>Choose another</button>
          <input type="text" name="description" value={{description}} maxlength="160" placeholder="Enter a description" />
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="questionCreator">
  <h1>Choose 2 images</h1>
  <div class="imageSelectorContainer mainContent {{stateClass}}">
    {{> progress}}
    {{#each imageSelectors}}
      {{> imageSelector}}
    {{/each}}
    <div class="controls">
      <button name="swap" disabled={{imagesNotChosen}}><i class="fa fa-refresh"></i>Swap</button>
      <input type="text" name="name" value={{name}} disabled={{imagesNotChosen}} maxlength="160" placeholder="Enter a name"/>

      {{#if currentUser}}
        {{#unless creating}}
          <button name="create" disabled="{{disableCreate}}"><i class="fa fa-paper-plane-o"></i>Create</button>
        {{else}}
          <p>Creating...</p>
        {{/unless}}
      {{else}}
        <p>Sign in to post your question</p>
      {{/if}}

      <div class="validationMessages">
        {{#if imagesAreSame}}
          <p>Please choose distinct images</p>
        {{/if}}
      </div>
    </div>
  </div>

</template>
