<template name="question">
  <div>
    <h1>{{question.name}}</h1>
  </div>

  <div class="imageSelectorContainer mainContent">
    {{#each question.options}}
      {{> option}}
    {{/each}}
  </div>

  <section class="controls">
    {{#if isOwned}}
      {{> privacySettings}}
    {{/if}}
    <div class="privacySettings">
      <h2>Question info</h2>
      <div class="content">
        <p>Question by <i>{{#if isOwned}}You{{else}}{{author.name}} {{author.email}}{{/if}}</i></p>
        <p>Created on <i>{{question.created.toLocaleString}}</i></p>
        {{#unless currentUser}}
          {{#if question.isClosed}}
            <p><strong>Sign in to see results</strong></p>
          {{else}}
            <p><strong>Sign in to vote and see results</strong></p>
          {{/if}}
        {{else}}
          {{#if question.isClosed}}
            <p>Question is closed</p>
          {{/if}}
        {{/unless}}

        {{#if isOwned}}
          <button class="danger" name="delete"><i class="fa fa-trash-o"></i>Delete</button>
          <button class="danger" name="close" disabled={{question.isClosed}}><i class="fa fa-minus-circle"></i>Close</button>
        {{/if}}
      </div>
    </div>
  </section>
</template>

<template name="privacySettings">
  <div class="privacySettings">
    <h2>Privacy settings</h2>
    <div class="content">
    {{#unless editMode}}
      {{#if question.isPublic}}
        <p><span><i class="fa fa-eye"></i></span><span>This question is public</span></p>
      {{else}}
        <p><span><i class="fa fa-eye-slash"></i></span><span>This question is private</span></p>
      {{/if}}

      {{#if question.isClosed}}
        <p><span><i class="fa fa-lock"></i></span><span>This question is closed and will not be suggested</span></p>
      {{else}}
        {{#if question.isDiscoverable}}
          <p><span><i class="fa fa-thumbs-up"></i></span><span>This question will be suggested</span></p>
        {{else}}
          <p><span><i class="fa fa-share-alt"></i></span><span>This question will not be suggested</span></p>
        {{/if}}
      {{/if}}

      <button name="edit"><i class="fa fa-pencil-square-o"></i>Edit</button>
    {{else}}
      <form class="privacySettings">
        <label for="isPublic">
          <input type="checkbox" name="isPublic" id="isPublic" checked={{isPublic}}>This question is public
        </label>
        <label for="isDiscoverable">
          <input type="checkbox" name="isDiscoverable" id="isDiscoverable" disabled={{isDiscoverableDisabled}} checked={{isDiscoverable}}>This question will be suggested
        </label>
        <button name="savePrivacySettings"><i class="fa fa-floppy-o"></i>Save</button>
      </form>
    {{/unless}}
    </div>
  </div>
</template>

<template name="option">
  <div class="imageSelector">
    <div>
      <div class="img">
        <a href="{{imageFile.url store='images'}}"  target="_blank">
          <img src="{{imageFile.url store='imagesOptimized'}}"/>
        </a>
      </div>
      <div class="controls">
        <h2>{{description}}</h2>
        {{#if currentUser}}
          {{#if canVote}}
            <button><i class="fa fa-check"></i>Vote</button>
          {{/if}}

          {{#if canSeeVotes}}
            <p>
              {{#if votes}}
                <span>{{votes}}</span> votes
              {{else}}
                {{#if isClosed}}No votes{{else}}No votes so far{{/if}}
              {{/if}}
            </p>
          {{/if}}

          {{#if votedFor}}
            <p><i class="fa fa-remove"></i>You voted for this option</p>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
