<template name="applicationLayout">
  <nav class="{{navStateClass}}">
    <div class="menuButton navbarButton" data-role="menu">
      <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <div class="overflowHack">
      <ul>
        <li>
          {{#linkTo route='home'}} Home {{/linkTo}}
        </li>

        {{#if currentUser}}
        <li>
          {{#linkTo route='myQuestions'}} My questions {{/linkTo}}
        </li>
        {{/if}}
        <li>
          {{#linkTo route='create'}} Create {{/linkTo}}
        </li>
        <li>
          {{#linkTo route='nextQuestion'}} Next {{/linkTo}}
        </li>
      </ul>
    </div>
    <div class="loginButton navbarButton" data-role="login">
      <a href="#">
        <i class="fa fa-user"></i>
      </a>
    </div>
    <div class="overflowHack">
      <div class="loginForm">
        <form>
          {{#unless currentUser}}
            <button name="loginWithFacebook"><i class="fa fa-facebook-official"></i>Sign in with Facebook</button>
          {{else}}
            <p>Signed in as {{userDisplayName}}</p>
            <button name="logout"><i class="fa fa-facebook-official"></i>Sign out</button>
          {{/unless}}
        </form>
      </div>
    </div>
  </nav>

  <article>
    {{> yield}}
  </article>
  <footer>
    <p>Copyright Duratto</p>
  </footer>
</template>
