<template name="myQuestions">
  <div>
    <h1>My questions</h1>
  </div>
  <div class="controls">
    <section class="filter privacySettings">
      <h2>Filter</h2>
      <div class="content">
        {{{triStateRadio "isPublic" "Privacy" "All" "Public" "Private"}}}
        {{{triStateRadio "isDiscoverable" "Visability" "All" "Visible" "Hidden"}}}
        {{{triStateRadio "isClosed" "Status" "All" "Closed" "Active"}}}
        {{{triStateRadio "hasVotes" "Votes" "All" "With votes" "Without votes"}}}
      </div>
    </section>
  </div>
  <div class="myQuestions mainContent">
    <ul>
      {{#each questions}}
        <li>
          {{> link}}
        </li>
      {{else}}
        <li class="empty">
          <p>No questions found</p>
        </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="link">
  <h2><a href="/questions/{{_id}}">{{name}}</a></h2>
  <p>{{created.toLocaleString}}</p>
  <div class="thumbnails">
    {{#each options}}
      {{> thumbnail}}
    {{/each}}
  </div>
</template>

<template name="thumbnail">
  <div class="img">
    <img class="thumb" src="{{thumbnailSrc}}"/>
  </div>
</template>
